.container {
    max-width: 1231px;
}

.master-tao .nav-link {
    color: #fff;
    font-size: 16px;
    line-height: 146%;
}

.first-screen-slider__btn img {
    margin-left: 75px;
}

button#btn-orange__forms {
    margin-left: -3px;
}

.template-title h2 {
    width: 738px;
    margin-top: 97px;
    margin-left: -286px;
    font-weight: 700;
    font-size: 36px;
    line-height: 124.5%;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 0;
    text-align: left;
}

.master-tao__2 {
    padding: 0 0;
    border-radius: 0;
}

.template-title::before {
    content: "";
    width: 85px;
    height: 2px;
    background: #89C249;
    margin-top: 0px;
    /* margin-left: 84px; */
    position: absolute;
    left: 42%;
}

img.logo-master__tao {
    margin-left: -10px;
}

button.navbar-toggler {
    margin-right: -25px;
}



.master-tao__2 {
    padding: 0 50px;
}

section {
    padding: 0 50px;
}

.master-tao {
    background: #282B38;
}

.main {
    margin: 0 50px;
}

