<section class="advantages bg-gray">
    <div class="container">
        <div class="template-title-second">
            <h2 class="h2-advantages">Почему стоит выбрать именно нас?</h2>
        </div>
        <div class="advantages-slider row">
            <div class="advantages-slider__item col-lg-3">
                <div class="advantages-slider__item-content">
                    <div class="img-box">
                        <img src="assets/img/advantages-first.svg" alt="icon-advantages-1">
                </div>
                        <div class="text-box">
                            Таможенное оформление груза
                        </div>
                    </div>
                </div>
                <div class="advantages-slider__item col-lg-3">
                    <div class="advantages-slider__item-content">
                        <div class="img-box">
                            <img src="assets/img/advantages-second.svg" alt="icon-advantages-2">
                </div>
                            <div class="text-box">
                                Страховка груза
                            </div>
                        </div>
                    </div>
                    <div class="advantages-slider__item col-lg-3">
                        <div class="advantages-slider__item-content">
                            <div class="img-box">
                                <img src="assets/img/advantages-three.svg" alt="icon-advantages-1">
                </div>
                                <div class="text-box">
                                    Таможенное оформление груза
                                </div>
                            </div>
                        </div>
                        <div class="advantages-slider__item col-lg-3">
                            <div class="advantages-slider__item-content">
                                <div class="img-box">
                                    <img src="assets/img/advantages-four.svg" alt="icon-advantages-2">
                </div>
                                    <div class="text-box">
                                        Страховка груза
                                    </div>
                                </div>
                            </div>
                            <div class="advantages-slider__item col-lg-3">
                                <div class="advantages-slider__item-content">
                                    <div class="img-box">
                                        <img src="assets/img/advantages-five.svg" alt="icon-advantages-1">
                </div>
                                        <div class="text-box">
                                            Таможенное оформление груза
                                        </div>
                                    </div>
                                </div>
                                <div class="advantages-slider__item col-lg-3">
                                    <div class="advantages-slider__item-content">
                                        <div class="img-box">
                                            <img src="assets/img/advantages-four.svg" alt="icon-advantages-2">
                </div>
                                            <div class="text-box">
                                                Страховка груза
                                            </div>
                                        </div>
                                    </div>
                                    <div class="advantages-slider__item col-lg-3">
                                        <div class="advantages-slider__item-content">
                                            <div class="img-box">
                                                <img src="assets/img/advantages-first.svg" alt="icon-advantages-1">
                </div>
                                                <div class="text-box">
                                                    Таможенное оформление груза
                                                </div>
                                            </div>
                                        </div>
                                        <div class="advantages-slider__item col-lg-3">
                                            <div class="advantages-slider__item-content">
                                                <div class="img-box">
                                                    <img src="assets/img/advantages-eight.svg" alt="icon-advantages-2">
                </div>
                                                    <div class="text-box">
                                                        Страховка груза
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
</section>
