<section class="dilivery">
    <div class="container dilivery-container">
        <div class="delivery-title">
            <h3 class="h3-delivery">Варианты доставки грузов из Китая</h3>
        </div>
        <div class="slider-dilivery">
            <div class="slider-item">
                <div class="slider-item__img-box">
                    <img src="assets/img/truck-53.png" class="img-fluid" alt="">
            </div>
                    <h4 class="slider-item__title-second">Авто - обычная</h4>
                    <div class="slider-item__info">
                        <div class="slider-item__info-day">
                            9-15 дней
                        </div>
                        <div class="slider-item__info-weight">от 5 кг</div>
                    </div>
                    <div class="slider-item__price">от <b>2,5</b> <span>$/кг</span></div>
                    <div class="slider-item__row-btn">
                        <a href="#" class="btn first-screen-slider__btn">Оставить заявку</a>
                        <a href="#" class="btn btn-secondary">Подробнее</a>
                    </div>
                </div>
                <div class="slider-item">
                    <div class="slider-item__img-box">
                        <img src="assets/img/truck-52.png" class="img-fluid" alt="">
            </div>
                        <h4 class="slider-item__title-second">Авто - обычная</h4>
                        <div class="slider-item__info">
                            <div class="slider-item__info-day">
                                9-15 дней
                            </div>
                            <div class="slider-item__info-weight">от 5 кг</div>
                        </div>
                        <div class="slider-item__price">от <b>2,5</b> <span>$/кг</span></div>
                        <div class="slider-item__row-btn">
                            <a href="#" class="btn first-screen-slider__btn">Оставить заявку</a>
                            <a href="#" class="btn btn-secondary">Подробнее</a>
                        </div>
                    </div>
                    <div class="slider-item">
                        <div class="slider-item__img-box">
                            <img src="assets/img/plane-54.png" class="img-fluid" alt="">
            </div>
                            <h4 class="slider-item__title-second">Авто - обычная</h4>
                            <div class="slider-item__info">
                                <div class="slider-item__info-day">
                                    9-15 дней
                                </div>
                                <div class="slider-item__info-weight">от 5 кг</div>
                            </div>
                            <div class="slider-item__price">от <b>2,5</b> <span>$/кг</span></div>
                            <div class="slider-item__row-btn">
                                <a href="#" class="btn first-screen-slider__btn">Оставить заявку</a>
                                <a href="#" class="btn btn-secondary">Подробнее</a>
                            </div>
                        </div>
                        <div class="slider-item">
                            <div class="slider-item__img-box">
                                <img src="assets/img/train-55.png" class="img-fluid" alt="">
            </div>
                                <h4 class="slider-item__title-second">Авто - обычная</h4>
                                <div class="slider-item__info">
                                    <div class="slider-item__info-day">
                                        9-15 дней
                                    </div>
                                    <div class="slider-item__info-weight">от 5 кг</div>
                                </div>
                                <div class="slider-item__price">от <b>2,5</b> <span>$/кг</span></div>
                                <div class="slider-item__row-btn">
                                    <a href="#" class="btn first-screen-slider__btn">Оставить заявку</a>
                                    <a href="#" class="btn btn-secondary">Подробнее</a>
                                </div>
                            </div>
                            <div class="slider-item">
                                <div class="slider-item__img-box">
                                    <img src="assets/img/cargo-56.png" class="img-fluid" alt="">
            </div>
                                    <h4 class="slider-item__title-second">Авто - обычная</h4>
                                    <div class="slider-item__info">
                                        <div class="slider-item__info-day">
                                            9-15 дней
                                        </div>
                                        <div class="slider-item__info-weight">от 5 кг</div>
                                    </div>
                                    <div class="slider-item__price">от <b>2,5</b> <span>$/кг</span></div>
                                    <div class="slider-item__row-btn">
                                        <a href="#" class="btn first-screen-slider__btn">Оставить заявку</a>
                                        <a href="#" class="btn btn-secondary">Подробнее</a>
                                    </div>
                                </div>
                                <div class="slider-item">
                                    <div class="slider-item__img-box">
                                        <img src="assets/img/train-55.png" class="img-fluid" alt="">
            </div>
                                        <h4 class="slider-item__title-second">Авто - обычная</h4>
                                        <div class="slider-item__info">
                                            <div class="slider-item__info-day">
                                                9-15 дней
                                            </div>
                                            <div class="slider-item__info-weight">от 5 кг</div>
                                        </div>
                                        <div class="slider-item__price">от <b>2,5</b> <span>$/кг</span></div>
                                        <div class="slider-item__row-btn">
                                            <a href="#" class="btn first-screen-slider__btn">Оставить заявку</a>
                                            <a href="#" class="btn btn-secondary">Подробнее</a>
                                        </div>
                                    </div>


                                </div>
                            </div>
</section>