<div class="container">
    <section class="forms-man">
        <div class="template-title">
            <h2>Получить рассчет стоимости
                доставки вашего груза</h2>
        </div>

        <div class="container forms-man__container">
            <div class="row mb-2 one-form">
                <div class="col-12 col-lg-5 one-form-one">
                    <label class="man-text" for="user-category">Категория товара:</label>
                    <input type="text" class="forms-man__input" name="user-category" placeholder="Категория товара">
                </div>
                <div class="col-12 col-lg-6 one-form-two">
                    <label class="man-text" id="man-text-weight__first" for="user-category">Стоимость
                        груза:</label>
                    <input id="man-text__weight" type="text" class="forms-man__input" name="user-category" placeholder="Введите стоимость">
                </div>

            </div>
            <div class="row mb-2">
                <div class="col-12 col-lg-6 forms-two">
                    <label class="man-text" id="man-text__mt" for="user-weight">Вес груза (кг):</label>
                    <input type="text" class="forms-man__input forms-man__four" name="user-weight" placeholder="Введите вес">
                </div>
                <div class="col-12 col-lg-6 forms-three">
                    <label class="man-text" id="man-text__mt" for="user-weight">Объем груза (м3):</label>
                    <input id="man-text__weight-second" type="text" class="forms-man__input" name="user-weight" placeholder="Введите объем">
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-12 col-lg-6 checkbox-form__one">
                    <div class="check-box-form">
                        <input class="form-checkbox" type="checkbox" id="a" name="a" checked="">
                        <span class="custom-checkbox"></span>
                        <label id="checkbox-label" class="label-checkbox" for="a">Страховка</label>
                    </div>

                    <div>
                        <input class="form-checkbox" type="checkbox" id="b" name="b">
                        <span class="custom-checkbox"></span>
                        <label id="horns-label" class="label-checkbox" for="b">Таможенное оформление</label>
                    </div>
                </div>
                <div class="col-12 col-lg-6 user-weight__one">
                    <label class="man-text" id="man-text__mt" for="user-weight">Код ТН ВЭД:</label>
                    <input id="man-text__weight-second" type="text" class="forms-man__input input-top" name="user-weight" placeholder="Введите код">
                </div>
            </div>
            <div class="photo-jpeg">
                <input type="file" id="upload-file" hidden="hidden">
                <span class="upload-text__load" id="upload-text">фотография.jpeg</span>
                <button id="upload-btn">
                    <label for="upload-file">Загрузить фото товара</label>
                </button>
            </div>
            <button href="#" id="btn-orange__forms" class="first-screen-slider__btn">Оставить заявку <img
                    src="assets/img/btn-icon-1.png" alt="btn-icon-1"></button>
                <img src="assets/img/forms-man.svg" class="photo-man" alt="man">

        </div>

        </div>
    </section>